@font-face {
    font-family: "monserrat";
    src: url(fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: "monserrat";
    src: url(fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "Fraunces";
    src: url(fonts/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf) format('truetype');
    font-weight: 700;
}
body{
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    font-family: "monserrat", sans-serif;
    /*    font-family: "monserrat", sans-serif;*/
    
    display: flex; /* contenedor flex */
    
    align-items: center;/* alineamiento vertical */
    justify-content: center; /*aliniamineto horizontal */
    height: 100vh;

}

main{
    /*border: 1px solid black;*/
    width: 550px;
    display: flex;
    min-height: 400px;
    border-radius: 14px;
    overflow: hidden;
}

.photo{
    width: 300px;
    /*border: 1px solid red;*/
    background-image: url(img/image-product-desktop.jpg);
    background-size: cover;

    
}

.content{
    width: 250px;
    /*border: 1px solid blue;*/
    background-color: whitesmoke;
    padding: 28px;   /* espacio entre el borde y el contenido*/
    display: flex;
    flex-direction: column; /* acomoda los elementos en columna */
    gap: 21px;  

}

.content h2{  /* selectores combinados */
    /*border: 1px solid green;*/
    margin: 0; /* resetea el margen de este  H2*/
    text-transform: uppercase;
    font-weight: 500;
    color: grey;
    font-size: 14px;
    letter-spacing: 7px;
}

.content h1{
    /*border: 1px solid orange;*/
    margin: 0;  /* resetea el margen de este  H1*/
    font-family: "Fraunces", serif;
    font-weight: 700;
    color: hsl(158, 42%, 18%);
}

.content p{
    /*border: 1px solid orange;*/
    margin: 0;  /* resetea el margen de este  P*/
    font-weight: 500;
    line-height: 1.5;
    color: grey;
}

.content div{
    display: flex;
    align-items: center;
    gap: 28px;
}

.content div span{
    font-family: "Fraunces", serif;
    font-size: 28px;
    color: hsl(159, 36%, 37%);
    margin-right: 10px;
}

.content div s{
    color: hsl(228, 12%, 48%);
}

.content button{
    background-color: hsl(159, 36%, 37%);
    border-radius: 7px;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    padding: 15px;
    border: none;
    font-family: "monserrat" sans-serif;
    
    display: flex;
    justify-content: center;
    gap: 7px;
}